@import "_variables.scss";

.header{
    display: flex;
    align-items: stretch;
    z-index: z-index(header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-secondary;
    @include linear-interpolation-chain(height,$header-heights);
    @include material-box-shadow($header-shadow-depth);
}

.header__container{
    @include container;
    @include linear-interpolation-chain(font-size,$header-heights);
    align-items: center;
}

.header__menu{
    margin-left: auto;
    display: block;
    width: 0.7em;
    height: 0.7em;
    background-color: $color-secondary;
    cursor: pointer;
    overflow: hidden;
    /*border: rem(1) solid $color-terciary;*/
    @include material-box-shadow($header-menu-depth);
    @include border-radius(rem(4));
    transition: box-shadow 300ms;
    &:hover{
        @include material-box-shadow($header-menu-depth + 3);
    }

}